ALERTMANAGER_OPTS="--config.file {{ alertmanager_config_folder }}/alertmanager.yml \
                   --storage.path {{ alertmanager_db_path }}/data \
                   --web.listen-address {{ alertmanager_listen_address }}{{ '' if alertmanager_external_url == '' else ' \\
                   --web.external-url=' + alertmanager_external_url }}"
START=yes
